<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
			<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		      <!-- Custom styles for this template -->
		  	<link href="../../css/simple-sidebar.css" rel="stylesheet">
		  	<link rel="stylesheet" href="../../css/estilos.css">
		</head>
	<body>

		<div class="container div">
			<div class="row" style="background: #f2f2f2; border-bottom: 1px solid #000">
				<div class="col-sm-3">
					<a href="../../index.php">
						<img src="../../files/img/Emergencia4.jpg" class="logologin">
					</a>
				</div>
				<div class="col-sm-9 titulos">
					Exito!!!
				</div>	
			</div>

			<div class="row" style="justify-content: center;">
				<h5 style="margin-top:3%;">Se ha registrado correctamente la historia clinica.</h5>
			</div>

			<div class="row" style="justify-content: center;">
				<a href="../views/home.php" class="btn btn-sm btn-dark" style="margin-top:3% ">Volver</a>
    		</div>
		</div>


		<script src="../../vendor/jquery/jquery.min.js"></script>
      	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>