<div class="container div color2">
	<div class="row" style="background: #F2F2F2; border-bottom: 1px solid #000">
		<div class="col-sm-3">
			<a href="index.php">
				<img src="../../files/img/logoem2.jpg" class="logo">
			</a>
		</div>
		<div class="col-sm-9 titulos">
			Error!!!
		</div>  
	</div>

	<div class="row" style="justify-content:center">
		<p style="margin-top:3%;">
			No se encuentra la historia clinica, o el documento ingresado no se encuentra en la DB.
		</p>
	</div>

	<div class="row" style="justify-content: center;">
		<a href="../views/home.php" class="btn btn-sm btn-dark">Volver</a>
	</div>
</div>