<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
			<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		      <!-- Custom styles for this template -->
		  	<link href="../../css/simple-sidebar.css" rel="stylesheet">
		  	<link rel="stylesheet" href="../../css/estilos.css">
		  	<link rel="shortcut icon" href="../../archivos/img/ITMS2.jpg">
		</head>
	<body>

		<div class="container div">

	      <div class="row" style="background: #F2F2F2; border-bottom: 1px solid #000">
	        <div class="col-sm-3">
	          <a href="index.php">
	            <img src="../../files/img/Emergencia4.jpg" class="logo">
	          </a>
	        </div>
	        <div class="col-sm-9 titulos" style="background: #F2F2F2">
	          Error!!!
	        </div>  
	      </div>

			<div class="row" style="text-align:center">
				<h5 style="margin-top:3%;">El documento ingresado no se encuentra registrado, o los datos ingresados son incorrectos.</h5>
			</div>

			<div class="row" style="justify-content: center;">
				<a href="../../index.php" class="btn btn-sm btn-dark" style="margin-top:3% ">Volver</a>
    		</div>
		</div>


		<script src="../../vendor/jquery/jquery.min.js"></script>
      	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>